<div>Quiz List Component</div>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div  class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> id </mat-header-cell>
      <mat-cell *matCellDef="let quiz"> {{quiz.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="numberOfQuestions">
      <mat-header-cell *matHeaderCellDef> # questions </mat-header-cell>
      <mat-cell *matCellDef="let quiz"> {{quiz.numberOfQuestions}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> score </mat-header-cell>
      <mat-cell *matCellDef="let quiz"> {{quiz.score}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef> comments </mat-header-cell>
      <mat-cell *matCellDef="let quiz"> {{quiz.comments}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
